<?php /* use https://github.com/dansup/bulma-templates/blob/master/templates/hero.html */ ?><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title><%= title %> - <%= description %></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet"/>
    <% if (typeof(index) == 'undefined' || !index) { %>
    <meta name="robots" content="noindex">
    <% } %>
    <style>
        dd {
            padding: 5px 0;
        }
        .hero-body > .container {
          margin-bottom: 3em;
        }
        .hero-body > .columns > .box {
          margin-bottom: 5em;
        }
        .hero.is-medium .hero-body {
          padding-bottom: 5em;
        }
    </style>
</head>
<body>
<section class="hero is-info is-medium is-bold">
  <div class="hero-head">
      <nav class="navbar">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                      <%= title %>
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                              <span></span>
                              <span></span>
                              <span></span>
                          </span>
              </div>
              <div class="navbar-menu" id="navbarMenu">
                  <div class="navbar-end">
                      <div class="tabs is-right">
                          <ul>
                              <li class="is-active"><a>Home</a></li>
                          </ul>
                          <span class="navbar-item">
                              <a class="button is-white is-outlined"
                                 href="https://github.com/newsdict/syukei-san.xyz">
                                  <span class="icon">
                                  <i class="fa fa-github"></i>
                                  </span>
                                  <span title="Hello from the other side">View Source</span>
                              </a>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
  </div>
  <% if (typeof(hero) !== 'undefined') { %>
  <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title">
              <%= title %>
          </h1>
          <h2 class="subtitle">
              <%= description %>
          </h2>
      </div>
      <div class="columns is-centered">
        <div class="box column is-half">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <ol>
                  <li>投票したい/多数決を取りたいデータを１行ごとに入力</li>
                  <li>利用規約を読んで同意する</li>
                  <li>出来上がったフォームをメンバーにシェアする</li>
                  <li>メンバーがフォームで投票する（一人が複数投票することはできません！）</li>
                </ol>
              </div>
            </div>
          </article>
          <hr>
          <div class="columns is-vcentered is-centered">
            <div class="column is-3">
                <img src="/img/create.png">
            </div>
            <div class="column is-1">
              <figure class="image is-32x32">
                <img src="/img/arrow.png">
              </figure>
            </div>
            <div class="column is-3">
                <img src="/img/form.png">
            </div>
            <div class="column is-1">
              <figure class="image is-32x32">
                <img src="/img/arrow.png">
              </figure>
            </div>
            <div class="column is-3">
                <img src="/img/result.png">
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-centered" >
        <a href="/#main" class="button is-rounded is-large">投票フォームを作成する!</a>
      </div>
  </div>
  <% } %>
</section>
<section id="main">
  <%- body %>
</section>
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <h2><strong>Hosting Sites by newsdict</strong></h2>
                <ul>
                    <li><a href="https://newsdict.io/">newsdict.io</a></li>
                </ul>
                <ul>
                    <li><a href="https://newsdict.jp/">newsdict</a></li>
                </ul>
                <ul>
                    <li><a href="https://newsdict.blog/">newsdict.blog</a></li>
                </ul>
            </div>
            <div class="column is-3 is-offset-1">
                <h2><strong>Hosting Sites by newsdict</strong></h2>
                <ul>
                    <li><a href="https://syukei-san.xyz">集計さん</a></li>
                </ul>
            </div>
        </div>
        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://github.com/newsdict/syukei-san.xyz">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <div class="control level-item">
                <a href="https://github.com/yubele/syukei-san.xyz">
                    <div class="tags has-addons">
                        <span class="tag is-dark">syukei-san.xyz</span>
                        <span class="tag is-info">MIT license</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>