<div id="container">
    <div class="card">
        <div class="card-content has-text-centered">
            <% if (isVoted) { %>
            <div class="notification is-danger">
                複数回の投票はできません
            </div>
            <% } %>
            <p class="title"><%= name %> - 投票中</p>
            <form action="/result/<%= id %>/" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="id" value="<%= csrfToken %>">
                <dl>
                <% data.forEach(function(value){ %>
                <dd>
                    <button class="button" name="key" value="<%= value %>"><b><%= value %></b>に投票する</button>
                </dd>
                <% }) %>
                </dl>
            </form>
        </div>
    </div>
</div>