<div id="container">
    <div class="card">
        <div class="card-content">
            <form action="/create" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="field">
                    <label class="label">1. タイトル</label>
                    <div class="control">
                        <input class="input <%= formHelper.getErrorClass('name') %>" type="text" name="name" placeholder="掃除当番の集計" value="<%= formHelper.getValueInSession('name') %>">
                        <% if (formHelper.isError('name')) { %>
                        <p class="help is-danger">3文字以上にする必要があります</p>
                        <% } %>
                    </div>
                </div>
                <div class="field">
                    <label class="label">2. 集計するデータ</label>
                    <div class="notification">
                    例 (行ごとに投票させたい項目を追記します）<br/>
                    A商品<br/>
                    B商品<br/>
                    C商品
                    </div>
                    <div class="control">
                        <textarea class="textarea <%= formHelper.getErrorClass('data') %>" name="data" placeholder="1行ごとに入れてください"><%= formHelper.getValueInSession('data') %></textarea>
                        <% if (formHelper.isError('data')) { %>
                            <p class="help is-danger">2行以上にする必要があります</p>
                        <% } %>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="is_agreement">
                            3. <a target="_blank" href="/term">利用規約</a>をお呼びの上ご同意をお願いいたします
                        </label>
                        <% if (formHelper.isError('is_agreement')) { %>
                            <p class="help is-danger">利用規約にご同意していただく必要があります。※入力エラー時にはもう一度チェックしていただく必要があります。</p>
                        <% } %>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" name="submit">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-text">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>