<div id="container">
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title"><%= name %> - 集計結果</p>
            <% for(let key in data) { %>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag <%= tagHelper.colorByRanking(key) %> <%= tagHelper.sizeByRanking(key) %>"><%= data[key]['key'] %></span>
                    <span class="tag <%= tagHelper.colorByRanking(key) %> <%= tagHelper.sizeByRanking(key) %>"><%= data[key]['count'] %>票</span>
                </div>
            </div>
            <div class="card-content">
                <progress class="progress <%= tagHelper.colorByRanking(key) %>>" value="<%= data[key]['count'] * 10 %>" max="100"></progress>
            </div>
            <% } %>
        </div>
    </div>
    <hr>
    <div class="has-text-centered">
        <a class="button is-link" href="/">Back to the Home</a>
    </div>
    <hr>
</div>